@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;500;600;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: var(--fontFamily);
  color: var(--color2);
}

:root {
  --color1: #EAD05A;
  --color2: #20315D;
  --fontFamily: 'Open Sans', sans-serif;
  --fontfamily2: 'Playfair Display', serif;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 100vh;
  width: 100%;
}

.skills>h1 {
  text-align: center;
  font-size: clamp(3rem, 4vw, 8rem);
  margin-top: 120px;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin-top: 30px;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  min-width: 295px;
  max-width: 400px;
  flex: 1;
  text-align: left;
  padding-top: 0px;
  margin: 25px 25px;
  border: 1px solid var(--color2);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.29);
  font-weight: bold;
}

.skillsContainer>section>h2 {
  font-size: clamp(2rem, 3vw, 5rem);
  margin-top: 10px;
  text-align: center;
}

.skillsContainer>section>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: clamp(1.4rem, 1vw, 3rem);
  margin: 30px 10px;
}

.skillsContainer>section>ul>li{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 130px;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
}

@media screen and (max-width: 1150px) {
  .skillsContainer>#language>ul>li{
      display: flex;
      justify-content: space-evenly;
    }
}


